[submodule "countries-microservice"]
	path = countries-microservice
	url = git@github.com:Luis4Armenta/countries-microservice.git
[submodule "authors-microservice"]
	path = authors-microservice
	url = git@github.com:Luis4Armenta/authors-microservice.git
[submodule "authors-app"]
	path = authors-app
	url = git@github.com:Luis4Armenta/authors-app.git
